<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Word Replacement</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
</head>
<body>
<script type="text/javascript">
    $(document).ready(function() {
        var socket = io.connect("http://localhost:5000")
        socket.on('connect', function(){
            socket.send("User connected");
        });

        socket.on('message', function(data){
            $('#messages').append($('<p>').text(data));
        });

        $('#sendBtn').on('click', function(){
            socket.send($('#username').val() +': ' + $('#message').val());
            $('#message').val('');
        })
    })

</script>
    <div id ="messages">

    </div>
 <span >Login Here Test</span>
                        <input type="email" placeholder="email" />
                        <input type="password" placeholder="password" />
                        <button>Sign In</button>
<div>
<input type="text" id="username" placeholder="Username" required>
<input type="text" id="message" placeholder="Message" required>
    <button id="sendBtn">Send</button></div>
</body>
</html>